 *{
     background-color: black;
     color: #FDFDFD;
 
  margin: 0;
 }
 .app{
   background-color: black;
   
 }
 .app_header{
  border-bottom: 1px solid #3F3F40; 
  background-color: #222224;
 }
 .app_headerImage{
   object-fit: contain;
   /* height: 100px;
   width: 100px; */
   height: 50px;
   /* margin-left: 500px;
   margin-right: auto; */
   text-align: center;
   
   background-color:#242526;
   /* padding:0 10px 20px 30px; */
  }
.app_signup{
    display: flex;
    flex-direction:column ;
  }
 