 *{
     color: lavender;
 background-color: #18191B;
  margin: 0;
 }
 .app{
   /* background-color: black; */
   
   
 }
 .app_header{
  border-bottom: 1px solid #3F3F40; 
  background-color: #222224;
   display: flex; 
   justify-content: space-between;
   position: sticky;
   top: 0; 
   z-index: 1;
 }
 .app_headerImage{
   object-fit: contain;
   /* height: 100px;
   width: 100px; */
   height: 50px;
   /* margin-left: 208px; */
   /* margin-left: 500px;
   margin-right: auto; */
   text-align: center;
   
   background-color:#242526;
   /* padding:0 10px 20px 30px; */
  }
.app_signup{
    display: flex;
    flex-direction:column ;
  }
 .logout{
    background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
 }
 .buttonn{
    background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  
  letter-spacing: 1px;
  
  margin: 15px;
  cursor: pointer;
  
  border-radius: var(--radius);
 }
 
 span{
   background-color: #222224 ;
 }