.post{
    max-width: 500px;
    margin-top: 30px;
    margin-left: 253px;
    margin-bottom: 45px;
    border: 1px solid #3F3F40; 
    background-color:#242526;
    
}
.post_header{
    display: flex;
    align-items: center ;
    padding: 20px ;
    background-color:#242526;
}
.post_image{
    width: 100%;
    object-fit: contain;
    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
    border-top: 1px solid #3F3F40; 
    box-sizing: border-box

}
.post_text{
    font-weight: normal;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;
} 
.post_commentBox{
    display: flex;
    margin-top: 10px;
}
.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    flex: 0;
    border: none;
    color: lightskyblue;
}
.post_comments{
    padding: 20px;
}